<!DOCTYPE html>
<html ng-app="MiAplicacion">
    <head>
        <title>Formulario Angular</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="materialize/css/materialize.min.css" rel="stylesheet" type="text/css"/>
        <script src="js/vendor/angular.min.js" type="text/javascript"></script>
        <script>
            angular.module('MiAplicacion', [])
                    .controller('MiAplicacion01Controller', ['$scope', '$http', function($scope, $http) {
                            $http.get('http://localhost:8081/angularproject/creapersona?ob=usuario&op=form', 'GET', '').then(function(data) {
                                $scope.bean = data.data.message;
                            });
                        }]);
        </script> 
    </head>
    <body ng-controller="MiAplicacion01Controller">
        <div class="row">
            <a href="index.html" class="waves-effect waves-light btn">Home</a>
            <h4 class="center-align"> Formulario con Angular</h4>
            <form class="col s6 offset-s3">

                <fieldset class="teal lighten-4 z-depth-1">

                    <label for="id">ID:</label><input id="id" name="id" type="text" ng-model="bean.id" /><br>
                    <label for="nombre">Nombre:</label><input id="nombre" name="nombre" type="text" ng-model="bean.nombre" /><br>
                    <label for="ape1">1º Apellido:</label><input id="ape1" name="ape1" type="text" ng-model="bean.apellido1" /><br>
                    <label for="ape1">2º Apellido:</label><input id="ape1" name="ape1" type="text" ng-model="bean.apellido2" /><br>
                </fieldset>
            </form>
        </div>
            

        <script src="js/vendor/jquery-2.1.4.js" type="text/javascript"></script>
        <script src="materialize/js/materialize.min.js" type="text/javascript"></script>
    </body>
</html>
